<!DOCTYPE html>
<html>

<head>
    <title>Apply</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet"/>
</head>

<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
  <a href="\">Home</a>
    <a href="\login">login</a>
    <a href="\logout">logout</a>
      <a  class ="active" href="\apply">apply</a>

</nav>
<body>
<div class="infoSheet">
    <h1>
        Student Application Form
    </h1>
    <form action="http://127.0.0.1:5000/register/student" method="post" id="applicationForm" name="studentApp">
        <p>First name:
            <input type="text" id="fName" name="First" size="15" maxlength="25" onchange="nameCheck(this);"/>
        </p>

        <p>Last name:
            <input type="text" name="Last" size="15" maxlength="25"/>
        </p>

        <p>Middle Initial:
            <input type="text" name="Middle" size="2" maxlength="1"/>
        </p>

        <p>Suffix:
            <input type="text" name="Suffix" size="15" maxlength="25"/>
        </p>

        <p>Preffered name:
            <input type="text" name="Preffered" size="15" maxlength="25"/>
        </p>

        <hr/>

        <p>Address:
            <input type="text" name="Address" size="25" maxlength="100"/>
        </p>

        <p>City:
            <input type="text" name="City" size="15" maxlength="25"/>
        </p>

        <p>State:
            <select name="State">
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
                <option value="CT">Connecticut</option>
                <option value="DE">Delaware</option>
                <option value="DC">District Of Columbia</option>
                <option value="FL">Florida</option>
                <option value="GA">Georgia</option>
                <option value="HI">Hawaii</option>
                <option value="ID">Idaho</option>
                <option value="IL">Illinois</option>
                <option value="IN">Indiana</option>
                <option value="IA">Iowa</option>
                <option value="KS">Kansas</option>
                <option value="KY">Kentucky</option>
                <option value="LA">Louisiana</option>
                <option value="ME">Maine</option>
                <option value="MD">Maryland</option>
                <option value="MA">Massachusetts</option>
                <option value="MI">Michigan</option>
                <option value="MN">Minnesota</option>
                <option value="MS">Mississippi</option>
                <option value="MO">Missouri</option>
                <option value="MT">Montana</option>
                <option value="NE">Nebraska</option>
                <option value="NV">Nevada</option>
                <option value="NH">New Hampshire</option>
                <option value="NJ">New Jersey</option>
                <option value="NM">New Mexico</option>
                <option value="NY">New York</option>
                <option value="NC">North Carolina</option>
                <option value="ND">North Dakota</option>
                <option value="OH">Ohio</option>
                <option value="OK">Oklahoma</option>
                <option value="OR">Oregon</option>
                <option value="PA">Pennsylvania</option>
                <option value="RI">Rhode Island</option>
                <option value="SC">South Carolina</option>
                <option value="SD">South Dakota</option>
                <option value="TN">Tennessee</option>
                <option value="TX">Texas</option>
                <option value="UT">Utah</option>
                <option value="VT">Vermont</option>
                <option value="VA">Virginia</option>
                <option value="WA">Washington</option>
                <option value="WV">West Virginia</option>
                <option value="WI">Wisconsin</option>
                <option value="WY">Wyoming</option>
            </select>
        </p>

        <p>Zip:
            <input type="text" name="Zip" size="5" maxlength="5"/>
        </p>

        <hr/>

        <p>Birthdate:
            <input type="date" name="Birthdate" size="10" maxlength="11"/>
        </p>

        <p>Gender:
            <select name="Gender">
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
        </p>

        <p>Race
            <br/>
            <input type="radio" name="Race" value="White" checked="checked"/> White (non-Hispanic)
            <input type="radio" name="Race" value="Black"/> African-American
            <input type="radio" name="Race" value="Hispanic"/> Hispanic
            <input type="radio" name="Race" value="Asian"/> Asian
        </p>

        <hr/>

        <p>School Information
            <select name="schoolType" onchange="schoolCheck(this);">
                <option value="private">private</option>
                 <option value="public">public</option>
                <option value="home">home-schooled</option>
            </select>


        </p>
        <div id="district" style="display: none;">
            <p>District:
                <input type="text" name="District" size="25" maxlength="25"/>
            </p>
        </div>
        <div id = "schoolName" style="display: none;">
        <p>Name of school:
            <input type="text" name="HighSchool" size="25" maxlength="25"/>
        </p>
        </div>

        <p>Expected Graduation Date:
            <input type="date" name="GradDate" size="10" maxlength="11"/>
        </p>

        <p>Email:
            <input type="text" name="Email" size="25" maxlength="25"/>
        </p>

        <p>Student's Phone:
            <input type="text" name="Phone" size="12" maxlength="15"/>
        </p>

        <hr/>

        <p>Do you have a sibling currently enrolled in UYP?
            <select name="isSibling" onchange=siblingCheck(this);>
                <option value="yes">yes</option>
                 <option value="no">no</option>
            </select>
        </p>

        <div id = "sUsername">
        <p>Sibling's  userName:
            <input type="text" id = "siblingUsername" name="SiblingUsername" size="15" maxlength="25"/>
        </p>
        </div>
        <input type="submit" name="submit" value="submit"/>

    </form>
</div>
</body>
<script>
    function nameCheck(that) {
        var patt = new RegExp("^[a-zA-Z]*$");
        var elMsg = document.getElementById('fName');
        if(!patt.test(that.value)) {
            alert("Name must only contain alphabetical values");
            document.getElementById('fName').style.background = '#e35152';
            return true;
            // elMsg.innerHTML = "Name must only contain alphabetical values";
        }else{
            document.getElementById('fName').style.background = '#ccffcc';
        }

        if((document.studentApp.First.value == "") && (document.studentApp.Last.value == "")){
            document.getElementById("First").innerHTML = "First name or Second name should not be empty";
            registerationform.fnametxt.focus();
            return(false);
        }
    }

    function schoolCheck(that) {
        if (that.value =="private") {
            document.getElementById("schoolName").style.display = "block";
            document.getElementById("district").value='';
        }
        if(that.value =="home"){
            document.getElementById("district").style.display = "none";
            document.getElementById("district").value ="";
            document.getElementById("schoolName").style.display = "none";
            document.getElementById("schoolName").value ="";
        }
        if (that.value == "public") {
            document.getElementById("district").style.display = "block";
            document.getElementById("schoolName").style.display = "block";
        }
    }

    function siblingCheck(that) {
        if (that.value =="no") {
            document.getElementById("sUsername").style.display = "none";
            document.getElementById("siblingUsername").value = '';
        }
        if (that.value =="yes") {
            document.getElementById("sUsername").style.display = "block";
            document.getElementById("siblingUsername").value = '';
        }
    }
</script>
</html>