<!DOCTYPE html>
<html>

<head>
    <title>Apply</title>
      <link href="../static/styles.css" type="text/css" rel="stylesheet" />
</head>
    
<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</nav>
<body background="../static/BaylorBackground.jpg">
    <div class="applicationSheet">
        <h1>
        Student Application Form
    </h1>
    <form action="http://127.0.0.1:5000/" method="post" id="applicationForm" name="studentApp">
        <p>First name:
            <input type="text" name="First" size="15" maxlength="25" />
        </p>

        <p>Last name:
            <input type="text" name="Last" size="15" maxlength="25" />
        </p>

        <p>Middle name:
            <input type="text" name="Middle" size="15" maxlength="25" />
        </p>

        <p>Suffix:
            <input type="text" name="Suffix" size="15" maxlength="25" />
        </p>

        <p>Preffered name:
            <input type="text" name="Preffered" size="15" maxlength="25" />
        </p>

        <hr />

        <p>Address:
            <input type="text" name="Address" size="15" maxlength="25" />
        </p>

        <p>City:
            <input type="text" name="City" size="15" maxlength="25" />
        </p>

        <p>State:
            <input type="text" name="State" size="2" maxlength="2" />
        </p>

        <p>Zip:
            <input type="text" name="Zip" size="5" maxlength="11" />
        </p>

        <hr />

        <p>Birthdate:
            <input type="date" name="Birthdate" size="10" maxlength="11" />
        </p>

        <p>Gender:
            <input type="text" name="Gender" size="6" maxlength="8" />
        </p>

        <p>Race
            <br />
            <input type="radio" name="Race" value="White" checked="checked" /> White (non-Hispanic)
            <input type="radio" name="Race" value="Black" /> African-American
            <input type="radio" name="Race" value="Hispanic" /> Hispanic
            <input type="radio" name="Race" value="Asian" /> Asian
        </p>

        <hr />

        <p>School Information
            <input type="radio" name="Type" value="Public" checked="checked" /> Public
            <input type="radio" name="Type" value="Private" /> Private
            <input type="radio" name="Type" value="Homeschooled" /> Homeschooled
        </p>

        <p>Name of High School:
            <input type="text" name="HighSchool" size="25" maxlength="25" />
        </p>

        <p>District:
            <input type="text" name="District" size="25" maxlength="25" />
        </p>

        <p>Expected Graduation Date:
            <input type="date" name="GradDate" size="10" maxlength="11" />
        </p>

        <p>Email:
            <input type="text" name="Email" size="25" maxlength="25" />
        </p>

        <p>Student's Phone:
            <input type="text" name="Phone" size="12" maxlength="15" />
        </p>

        <hr />

        <p>Do you have a sibling currently enrolled in UYP?
            <input type="radio" name="isSibling" value="Yes" /> Yes
            <input type="radio" name="isSibling" value="No" checked="checked" /> No
        </p>

        <p>Sibling's First Name:
            <input type="text" name="SiblingFirst" size="15" maxlength="25" />
        </p>

        <p>Sibling's Last Name:
            <input type="text" name="SiblingLast" size="15" maxlength="25" />
        </p>
        <input type="submit" name="submit" value="submit" />

    </form>
    </div>
</body>

</html>