<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet"/>
</head>
<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
 <a href="\">Home</a>
    <a href="\staffNewUser">New Staff</a>
    <a href="\login">login</a>
    <a href="\logout">logout</a>
    <a  href="\apply">apply</a>
</nav>
<body>
<div class="infoSheet">
    <h1>
        Staff Entry Form
    </h1>
    <form action="http://127.0.0.1:5000/handleStaff" id="staffForm" method="post">
        <p>Student Username:
            <input type="text" name="studentUsername" size="11" maxlength="11"/>
        </p>
        <p>Year accepted:
            <input type="text" name="Year" size="4" maxlength="4"/>
        </p>

        <p>Grade when accepted:
            <select name="grade">
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </p>

        <p>Status:
            <input type="radio" name="Status" value="Active" checked="checked"/> Active
            <input type="radio" name="Status" value="Graduated"/> Graduated
            <input type="radio" name="Status" value="Moved"/> Moved away
            <input type="radio" name="Status" value="NotInterested"/> No longer interested
        </p>

        <p>Grant Funded?
            <input type="radio" name="Funded" value="Y"/> Yes
            <input type="radio" name="Funded" value="N" checked="checked"/> No
        </p>

        <p>Which grant?
            <input type="text" name="Grant" size="20" maxlength="26"/>
        </p>

        <p>Mentor's First Name:
            <input type="text" name="First" size="15" maxlength="25"/>
        </p>

        <p>Mentor's Last Name:
            <input type="text" name="Last" size="15" maxlength="25"/>
        </p>

        <p>Sibling's username:
            <input type="text" name="SiblingUsername" size="15" maxlength="25"/>
        </p>


        <p>Disabilities:
            <input type="text" name="Disabilities" size="15" maxlength="25"/>
        </p>

        <p>Health conditions:
            <input type="text" name="Health" size="15" maxlength="25"/>
        </p>

        <p>English language learner?
            <input type="radio" name="English" value="Yes" checked="checked"/> Yes
            <input type="radio" name="English" value="No"/>No
        </p>

        <p>Gifted and talented:
            <input type="radio" name="gt" value="yes" checked="checked"/> yes
            <input type="radio" name="gt" value="no"/> no

        </p>

        <p>Student Description:</p>
        <textarea name="description" cols="30" rows="10"></textarea>
        <hr/>
        <input type="submit" name="submit" value="submit"/>

    </form>

</div>
</body>
</html>