<!DOCTYPE html>
<html>

<head>
    <title>UYP Home</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet" />
</head>

<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
    <a class="active" href="\">Home</a>
    <a href="\login">login</a>
    <a href="\logout">logout</a>
     <a  href="\apply">apply</a>
    <a href="\studentRegister">register for classes</a>
</nav>
<body>
    <div class="infoSheet" id = "welcomeSheet">
    <h1>Welcome to the University for Young People</h1>
    <div id="nav">
        <ul>
            <li><a href="/showStudents">accept new student</a></li>
            <li><a href="/staffNewUser">create new user</a></li>
            <li><a href="/createClass">create new class</a></li>
            <li><a href="/showClasses">view classes</a></li>
            <li><a href="/createSession">create new session</a></li>
            <li><a href="/showSessions">view sessions</a></li>
            <li><a href="/classAddStudent">add student to class for a rich client</a></li>
            <li><a href="/showClassSessions">add class session</a></li>
            <li><a href="/printStudent">print student info</a></li>
        </ul>
    </div>
    </div>

</body>

</html>
