<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/styles.css" type="text/css" rel="stylesheet"/>
    <title>Staff Sign-in</title>
</head>
<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
  <<a href="\">Home</a>
    <a class="active" href="\staffNewUser">New User</a>
    <a href="\login">login</a>
    <a href="\logout">logout</a>
    <a  href="\apply">apply</a>

</nav>
<body>
<div class="infoSheet">
    <h1>
        Create New User
    </h1>
    <form action="http://127.0.0.1:5000/handleStaffNewUser" method="post" id="applicationForm" name="studentApp">
        <p>New user's username:
            <input type="text" name="username" size="20" maxlength="20"/>
        </p>

        <p>New user's password:
            <input type="text" name="password" size="20" maxlength="20"/>
        </p>

        <p>User role:
            <select name="userRole">
                <option value="Admin">Admin</option>
                <option value="User">Student</option>
            </select>
        </p>
        <input type="submit" name="submit" value="submit"/>
    </form>
</div>
</body>
</html>