<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students and Parents</title>
     <link href="../static/styles.css" type="text/css" rel="stylesheet" />
</head>

<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
  <a href="\">Home</a>
    <a href="\login">login</a>
    <a href="\logout">logout</a>
     <a  href="\apply">apply</a>
    <a href="\studentRegister">register for classes</a>
</nav>
<body>
    <div class="infoSheet">
    <nav>
        <li><a href="apply">Apply</a> </li>
    </nav>

    <p>"This is a landing page for with instructions for the student or parent to apply and a link to the application."</p>
    </div>
</body>
</html>