<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link href="../static/styles.css" type="text/css" rel="stylesheet"/>
</head>

<header class="UYPHeader">
    <h1 >
        University for Young People
    </h1>
</header>
<nav class="topnav">
  <a href="\">Home</a>
    <a href="\staffNewUser">New Staff</a>
    <a href="\login">login</a>
    <a href="\logout">logout</a>
     <a  href="\apply">apply</a>

</nav>
<body>
<div class="infoSheet">
    <h1>Submit successful.
        <div id="nav">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </h1>
</div>>
</body>
</html>